@model List<Trisatech.KampDigi.Application.Models.ResidentProgramModel>
@{
   ViewData["Title"] = "Agenda Kegiatan Kampung";
   ViewData["Menu"] = "Kegiatan";
   Layout = "_BaseTemplate";
}
<div class="text-center">
   <div class="card card-flush shadow-sm">
      <div class="card-header">
         <h3 class="card-title">@ViewData["Title"]</h3>
         <div class="card-toolbar">
            <a asp-action="Create" class="btn btn-sm btn-primary">
               Create New
            </a>
         </div>
      </div>
      <div class="card-body py-5">
         <div id="kt_docs_fullcalendar_basic"></div>
      </div>
   </div>
</div>
@section Scripts {
<script>

   document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('kt_docs_fullcalendar_basic');
      var calendar = new FullCalendar.Calendar(calendarEl, {
         initialView: 'dayGridMonth'
      });
      calendar.render();
   });

</script>
}