@using System.Globalization
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        @if(ViewBag.TestingResidentFund != null){
            <label>@ViewBag.TestingResidentFund.Year</label>
            <label>@ViewBag.TestingResidentFund.CurrentBalance.ToString("C", new CultureInfo("id-ID"))</label>
            <label>Last Update by @ViewBag.TestingResidentFund.UpdatedBy</label>
        }
    </p>
</div>
