@{
    ViewData["Title"] = "Home Page";
    ViewData["Menu"] = "Welcome";
    Layout = "_BaseTemplate";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success text-center" role="alert">
        @ViewBag.Message
    </div>
}
<div class="text-center">
    <div class="card card-flush shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Title</h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-light">
                    Action
                </button>
            </div>
        </div>
        <div class="card-body py-5">
            Lorem Ipsum is simply dummy text...
        </div>
        <div class="card-footer">
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>
